@font-face {
  font-family: 'Mondia';
  src: url('../fonts/mondiathin-webfont.woff2') format('woff2'),
    url('../fonts/mondiathin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AlexBrush';
  src: url('../fonts/AlexBrush-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'GreatVibes';
  src: url('../fonts/GreatVibes-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  --color-primary: #3e3258;
  --color-primary-tint: #7a6c97;
  font-family: 'Mondia';
  font-size: 18px;
  color: var(--color-primary);
  background-color: #d9e4f5;
  background-image: linear-gradient(315deg, #d9e4f5 0%, #f5e3e6 74%);
}

#layout {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr max-content;
}

@media only screen and (max-width: 750px) {
  #layout {
    grid-template-rows: 1fr max-content;
  }
}

.button {
  background-color: white;
  font-weight: 600;
  border: solid 0.1rem var(--color-primary);
  padding: 5px 10px;
  border-radius: 5px;
}

.overflow {
  overflow: hidden;
}
