include mixins/page
include mixins/menu
include mixins/footer

+page("Accommodations", "AJ & Skye's Wedding Accommodations")(id="layout")
  +menu
  #accommodations
    section
      h1 Accommodations
      img(src="img/accommodations.svg" alt="sleeping accommodations")
    section
      h4 Hey everyone!
      p We have a new hotel block. The rooms should be right around $100, but you will have to call and tell them it is with the wedding in order to get that rate. For some reason, they are having trouble getting us a link like we had before. We wanted to give you the information for now in case you want to go ahead and book a room.
    section
      h4 Holiday Inn Express
      p 100 Cooley Way
      p Villa Rica, GA 30180
      p (770) 462-6071
  +footer