include mixins/page
include mixins/menu
include mixins/footer

+page("Accommodations", "AJ & Skye's Wedding Accommodations")(id="layout")
  +menu
  #accommodations
    section
      h1 Accommodations
      img(src="img/accommodations.svg" alt="sleeping accommodations")
    section
      h4 Hey everyone!
      p We have a group block set aside at the closest hotel to the venue about 20 minutes away.
      p If we get 30 room nights booked, the hotel will provide 2 shuttle services to and from the venue each way!
      p So no need to pay for an expensive uber (or sober drive home 😜). Stay a while, have some fun and get a free ride back to your bed.
      p I will make an update with the shuttle times as soon as they are set in stone.
    section
      h4 Homewood Suites
      p 1775 North Brown Road
      p Lawrenceville, GA 30043
      p (770) 277-1243
    section(id="book")
      a(href="https://secure3.hilton.com/en_US/hw/reservation/book.htm?inputModule=HOTEL&ctyhocn=ATLHWHW&spec_plan=CHWGMW&arrival=20200606&departure=20200607&cid=OM,WW,HILTONLINK,EN,DirectLink&fromId=HILTONLINKDIRECT" target="_blank") Book Now!
      p Note: group rate is already applied
  +footer