include mixins/page
include mixins/menu
include mixins/footer

+page("Accommodations", "AJ & Skye's Wedding Accommodations")(id="layout")
  +menu
  #accommodations
    section
      h1 Accommodations
      img(src="img/accommodations.svg" alt="sleeping accommodations")
    section
      h4 Hey everyone!
      p Since we had to move the venue, we are looking into a new hotel.
      p Will post more info as soon as possible.
  +footer