include mixins/page
include mixins/menu
include mixins/footer

+page("Details", "AJ & Skye's Wedding Details")(id="layout")
  +menu
  #faq
    #table-of-contents
      h1 Frequently Asked Questions
      h4 
        a(href="#Q01") When should I RSVP by?
      h4 
        a(href="#Q02") What should I wear?
      h4 
        a(href="#Q03") Are there any colors that guests should avoid wearing?
      h4 
        a(href="#Q04") What kind of shoes should/shouldn't I wear?
      h4 
        a(href="#Q05") What time should we be there?
      h4 
        a(href="#Q06") Is there parking available near the ceremony and reception venues?
      h4 
        a(href="#Q07") Have you reserved hotel room blocks?
      h4 
        a(href="#Q08") Will the ceremony be taking place indoors or outdoors?
      h4 
        a(href="#Q09") Can I take pictures and/or post photos of your wedding on social media?
      h4 
        a(href="#Q10") Can I send a gift somewhere instead of bringing it to the wedding?
      h4 
        a(href="#Q11") What are you doing about the ongoing pandemic?
      h4 
        a(href="#Q12") I have a question not answered here; how do I contact you?
    #answers
      <a id='Q01'></a>
      div
        h4 When should I RSVP by?
        p In case you missed it on the invitations, make sure to RSVP by June 15th. 
          | Even family who we know will be there.
      <a id='Q02'></a>
      div
        h4 What should I wear?
        p The event is semi-formal, but anything you want to wear we are sure will be ok. 
          | The bride requests you refrain from wearing a wedding dress, but if that's really all you have to wear, 
          | she prefers that to you just come naked.
      <a id='Q03'></a>
      div
        h4 Are there any colors that guests should avoid wearing?
        p Guests are encouraged to wear what they feel comfortable in... just don’t wear white! 
      <a id='Q04'></a>
      div 
        h4 What kind of shoes should/shouldn't I wear?
        p You are welcome to wear your favorite pair of dancing shoes. 
          | Just remember that you will be wearing them all night. 
      <a id='Q05'></a>
      div
        h4 What time should we be there?
        p Guests are encouraged to arrive between 4:30pm-4:45pm and the ceremony begins at 5:00pm.
      <a id='Q06'></a>
      div
        h4 Is there parking available near the ceremony and reception venues?
        p There will be free parking at the venue. 
          | The venue has a large grass plot and there will be an officer present to help direct traffic. 
      <a id='Q07'></a>
      div
        h4 Have you reserved hotel room blocks?
        p We sure do! We encourage all of our guests to look on our “Accommodations” tab and book a room. 
      <a id='Q08'></a>
      div
        h4 Will the ceremony be taking place indoors or outdoors?
        p The ceremony will take place outdoors (yes we know it is hot we will try to hurry). 
          | After the ceremony, everyone can rush into the air-conditioned reception area 
          | and enjoy a refreshing ice cold drink. 
      <a id='Q09'></a>
      div
        h4 Can I take pictures and/or post photos of your wedding on social media?
        p We would love for you to take pictures of everything except the ceremony! 
          | We are having an "unplugged" ceremony so everyone can enjoy this moment with us distraction free. 
          | Following the “I Do’s” please feel free to take pictures and videos as you please. 
          | You can share them with us by sending them to 
          a(href="mailto:skyegmontoya@gmail.com") skyegmontoya@gmail.com
      <a id='Q10'></a>
      div
        h4 Can I send a gift somewhere instead of bringing it to the wedding?
        p Of course! You can send all gifts to our home address listed below. 
          | Just please be sure we know who it is from so we can properly thank everyone! 
          | We also ask they be sent before August 1st since we are moving!
        p 5742 Bridgeboro Way NW 
        p Peachtree Corners, Ga 30092
      <a id='Q11'></a>
      div
        h4 What are you doing about the ongoing pandemic?
        p We are keeping a close eye on the progress of this pandemic and doing our part to prevent the 
          | virus from spreading. We encourage anyone who hasn’t felt well to stay at home. We would love 
          | to see everyone but we want to make sure people are safe and can enjoy the event. 
      <a id='Q12'></a>
      div
        h4 I have a question not answered here. How do I contact you?
        p In case we didn’t answer all of your questions please feel free to call or text Skye at 
          a(href="tel:+14708911689") 470-891-1689.
  +footer
