include mixins/page
include mixins/menu
include mixins/footer

+page("FAQ", "AJ & Skye's Wedding FAQ")(id="layout")
  +menu
  #faq
    h1 Frequently Asked Questions
    #table-of-contents
      h2 When should I RSVP by?
      h2 
  +footer