include mixins/page
include mixins/menu
include mixins/footer

+page("RSVP", "AJ & Skye's Wedding RSVP")(id="layout")
  +menu
  #rsvp
    h1 RSVP
    p Thank you for wanting to be a part of our special day. 
    | Unfortunately, we have given our final head count and cannot accept any more guests.
  +footer
