- let n = -1;
- const smartcrop = [];
- smartcrop[0] = {w: 500, h: 330};
- smartcrop[1] = {w: 245, h: 415};
- smartcrop[2] = {w: 245, h: 245};
- smartcrop[3] = {w: 245, h: 415};
- smartcrop[4] = {w: 245, h: 245};
- smartcrop[5] = {w: 245, h: 330};
- smartcrop[6] = {w: 500, h: 415};
- smartcrop[7] = {w: 245, h: 415};
- smartcrop[8] = {w: 245, h: 415};
- smartcrop[9] = {w: 245, h: 415};
- smartcrop[10] = {w: 245, h: 415};
- smartcrop[11] = {w: 245, h: 245};
- smartcrop[12] = {w: 245, h: 245};
- smartcrop[13] = {w: 245, h: 330};
- smartcrop[14] = {w: 245, h: 245};
- smartcrop[15] = {w: 245, h: 245};
- smartcrop[16] = {w: 245, h: 245};
- smartcrop[17] = {w: 245, h: 330};
- smartcrop[18] = {w: 245, h: 415};
- smartcrop[19] = {w: 245, h: 330};
- smartcrop[20] = {w: 245, h: 330};
- smartcrop[21] = {w: 245, h: 330};
- smartcrop[22] = {w: 245, h: 330};
- smartcrop[23] = {w: 245, h: 330};
- smartcrop[24] = {w: 245, h: 330};
- smartcrop[25] = {w: 245, h: 245};
- smartcrop[26] = {w: 245, h: 330};
- smartcrop[27] = {w: 500, h: 330};
- smartcrop[28] = {w: 245, h: 330};
- smartcrop[29] = {w: 245, h: 330};
- smartcrop[30] = {w: 245, h: 330};
- smartcrop[31] = {w: 245, h: 245};
  
mixin gallery  
  #gallery
    while ++n < 32
      figure(id=`gallery-item-${n}` class=`gallery-item`)
        img(data-src=`img/image-${n}.jpg?nf_resize=smartcrop&w=${smartcrop[n].w}&h=${smartcrop[n].h}` class="gallery-image")